@media screen and (min-width: 768px) {
  .header-content {
    background-color: #ffffff !important;
  }
  .logo {
    font-weight: bold;
    font-size: 1.75em;
    line-height: 30px;
    margin-left: 4em;
  }
  .user-profile {
    margin-right: 6.5em;
  }
  .user-profile-name .name {
    font-weight: bold;
    font-size: 18px;
    line-height: 31px;
    color: #3a3d42;
  }
  .user-profile-name .phone {
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: rgba(58, 61, 66, 0.9);
  }
  .user-pic {
    border-radius: 5px;
    height: 53px;
  }
  .user-profile-name:hover,
  .user-pic:hover {
    cursor: pointer;
  }
  .notif:hover {
    cursor: pointer;
    color: #6379f4;
  }
}
