.topup-text {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #3a3d42;
}

/* TOP UP METHOD STYLING */

.topup-method-wrapper {
  background-color: #ffffff;
  box-shadow: 1px 6px 20px rgba(0, 0, 0, 0.05);
  width: 400px;
  height: 60px;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: 0.375rem;
}
.topup-method-wrapper:hover {
  background-color: #f7f7f7;
  transition: 0.4s;
  cursor: pointer;
}
.topup-method-wrapper:active {
  background-color: #f0f0f0;
  transition: 0.4s;
}
.topup-method {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-right: 2em;
  font-size: 1.1em;
  color: #3a3d42;
}
.topup-method:hover,
.label-wrapper:hover,
.topup__method__radio:hover,
.radio-icon:hover,
.radio-label:hover {
  cursor: pointer !important;
}
.topup__method__input {
  position: absolute;
  left: 0;
  opacity: 0;
}
.topup__method__radio {
  width: 1em;
  height: 1em;
  border: 1px solid #9b9b9b;
  border-radius: 50%;
  margin-right: 10px;
  padding: 2px;
}
.topup__method__radio::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: #6379f4;
  border-radius: 50%;

  transform: scale(0);
  transition: transform 0.15s;
}
.topup__method__input:checked + .topup__method__radio::after {
  transform: scale(1);
}

.btn-topup-method {
  /* background-color: aquamarine; */
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-end;
}
.btn-method-continue {
  width: 20%;
  height: 70%;
  margin: 0.3em 2em;
  border-radius: 12px;
  background-color: #6379f4;
  color: #ffffff;
  font-size: 1.2em;
}
.btn-method-continue:hover {
  background: #5168ec;
  transition: 0.3s;
}
.btn-method-continue:active {
  background: #4c61db;
  transition: 0.3s;
}

/* HOW TO TOP UP STYLING */
.topup-instruction {
  height: 62vh;
  /* overflow-y: auto; */
}
.topup-instruction::-webkit-scrollbar {
  width: 5px;
  background: #ebe8e8;
}
.topup-instruction::-webkit-scrollbar-thumb {
  background: rgba(196, 193, 193, 0.3);
}
.topup-instruction-point {
  padding: 1em;
  background: #ffffff;
  box-shadow: 1px 6px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
.number {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #6379f4;
}
.topup-instruction-text {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  color: #7a7886;
}
