.form-change-pass,
.btn-pass {
  width: 100%;
}
.input-form.pass,
.btn-change-pass {
  width: 50%;
}
.error-validation {
  text-align: left !important;
}
.eye-icon-pass {
  right: 16em;
}
.button.btn-login.btn-pass {
  margin-top: 2em !important;
}
