.topup-form {
  margin-top: 6em;
}
.button-topup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-left: 20em;
}
.btn-topup {
  margin-top: 2rem;
}
.balance-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-left: 1rem;
}
