@media screen and (min-width: 768px) {
  .footer-content {
    background-color: #6379f4;
  }
  .footer-content p {
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: #efefef;
    margin-bottom: 0;
    padding: 0.75em;
  }
  .copyright {
    margin-left: 6em;
  }
  .contact {
    margin-right: 6em;
  }
  .contact p:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #fff;
  }
}
