.primary-phone-card {
  margin-left: 2em;
  margin-right: 2em;
  padding: 0.5em;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
.primary-phone-card p {
  margin: 0;
}

.primary-phone-card-title {
  font-weight: normal;
  font-size: 0.9em;
  line-height: 22px;
  color: #7a7886;
}

.primary-phone-card-desc {
  font-weight: bold;
  font-size: 1.1em;
  line-height: 30px;
  color: #514f5b;
}
.delete-phone {
  margin-right: 0.6em;
  cursor: pointer;
}
.delete-phone:hover,
.delete-phone:active {
  color: #e60e0e;
}
